<script type="text/template" id="productList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>name</th>
		 <th>value</th>
                 <th>marca</th>
                 <th>fechaExpedicion</th>
                 <th>picture</th>
    <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(products, function(product) { %>
    <tr>
		<td><%= htmlEncode(product.getDisplay('name')) %></td>
		<td><%= htmlEncode(product.getDisplay('value')) %></td>
 		<td><%= htmlEncode(product.getDisplay('marca')) %></td>
  		<td><%= htmlEncode(product.getDisplay('fechaExpedicion')) %></td>
                <td><%= htmlEncode(product.getDisplay('picture')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-edit',{id:<%= product.id %>}); return false" >Edit</a> |
	<% } %> 
    <% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-delete',{id:<%= product.id %>}); return false" >Delete</a> |
	<% } %>
    <% if(showPicture) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-product-picture',{id:<%= product.id %>}); return false" >Picture</a>
	<% } %>
    </td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="product">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-productForm">
    <% if(product.id) {%>
    <input type="hidden" name="id" value="<%= product.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">name</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Enter value" value="<%= product.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="value">value</label>
    	<input type="text" class="form-control" id="value" name="value" placeholder="Enter value" value="<%= product.get('value') %>"/>	
		</div>
                <div class="form-group" >
		<label for="marca">marca</label>
    	<input type="text" class="form-control" id="marca" name="marca" placeholder="Enter value" value="<%= product.get('marca') %>"/>	
		</div>
                <div class="form-group" >
		<label for="value">fechaExpedicion</label>
    	<input type="text" class="form-control" id="fechaExpedicion" name="fechaExpedicion" placeholder="Enter value" value="<%= product.get('fechaExpedicion') %>"/>	
		</div>                
                <div class="form-group" >
		<label for="value">picture</label>
    	<input type="text" class="form-control" id="picture" name="picture" placeholder="Enter value" value="<%= product.get('picture') %>"/>	
		</div>
    </form>
    </div>
</script> 